@model IEnumerable<ApplicationUser>

@{

	ViewData["title"] = "index";
}

ddd
			<div class="form-group">
				@* <label asp-for="FullName" class="controle-lable"></label> *@
				@* <input asp-for="FullName" class="form-control" autocomplete="off"/> *@
				@* <span asp-validation-for="FullName" class="text-danger"></span> *@
			</div>	
kkkk