@using testcrud.Data.ViewModels
@inject UserManager<ApplicationUser> _userManager;
@using Microsoft.AspNetCore.Identity
@using System.Globalization

@model LoginVM

@{
    Layout = null;
	ViewData["Title"] = "Login Page";
}

<!doctype html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
        @await Html.PartialAsync("~/Views/Shared/admin/_meta.cshtml")
    @if(Thread.CurrentThread.CurrentUICulture.Name == "en-US"){
        @await Html.PartialAsync("~/Views/Shared/admin/_css_en.cshtml")
    }else{
        @await Html.PartialAsync("~/Views/Shared/admin/_css_ar.cshtml")
    }    	
    <title>login</title>

</head>

<body class="bg-login">
    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto">
                        <div class="mb-4 text-center">
                            <img src="~/dashboard/vendor/assets/images/logo-icon.png" width="180" alt="" />
                        </div>
			<div class="wrap-login100">
                        <div class="card">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="text-center">
                                        <h3 class="">Sign in</h3>
                                        <p>Don t have an account yet?<a asp-action="Register">
                                                Sign up here</a>
                                        </p>
                                    </div>
                       
                                    <div class="form-body">
                                        <form class="row g-3" asp-controller="Account" asp-action="Login" >
                           					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="col-12">
                                                <label for="inputEmailAddress" class="form-label" asp-for="EmailAddress" ></label>
                                                <input type="email" type="email" asp-for="EmailAddress" autocomplete="off" required class="form-control" id="inputEmailAddress" placeholder="EmailAddress">
                                                <span class="text-danger" asp-validation-for="EmailAddress"></span>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputChoosePassword" asp-for="Password" class="form-label"></label>
                                                <div class="input-group" id="show_hide_password">
                                                    <input type="password" class="form-control border-end-0"
                                                    asp-for="Password" autocomplete="off"
                                                    required
                                                        id="inputChoosePassword" 
                                                        placeholder="Enter Password"> <a href="javascript:;"
                                                        class="input-group-text bg-transparent"><i
                                                            class='bx bx-hide'></i></a>
														<span class="text-danger" asp-validation-for="Password"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="remember" required
                                                        id="flexSwitchCheckChecked" checked>
                                                    <label class="form-check-label" 
                                                        for="flexSwitchCheckChecked">Remember Me</label>

                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary"><i
                                                            class="bx bxs-lock-open"></i>Sign in</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>

    @if(Thread.CurrentThread.CurrentUICulture.Name == "en-US"){
        @await Html.PartialAsync("~/Views/Shared/admin/_js_en.cshtml")
    }else{
        @await Html.PartialAsync("~/Views/Shared/admin/_js_ar.cshtml")
    }  
    @section Scripts{
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>

</html>