@model testcrud.Data.ViewModels.JobServiceViewModel

@{

	ViewData["title"] = "index";
}
<div class="page-wrapper">
	<div class="page-content">
		@await Component.InvokeAsync("TutorialMenu", new { category = "CSharp" })
		<div class="card">
			<div class="card-body">
				<div class="btn-group" >
					<a asp-action="Create" class="btn btn-primary mb-3 mb-lg-0"><i class="bx bxs-plus-square"></i>Create JobService</a>
				</div>
				<div class="table-responsive">
					<table id="employeeTable" class="yajra-datatable table table-striped table-bordered" style="width:100%">	
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>CreatedAt</th>
								<th>Action</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/datatable/JobServices.js"></script>
}